@import url("https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap");
:root {
    --font-family: "Courier Prime", monospace;
    --form-width: 400px;
    --primary-gradient: linear-gradient(to right bottom, #4e4376df, #2b587671);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.6;
    overflow: hidden;
}
#root {
    position: relative;
}
a,
button,
input {
    font-size: var(--font-family);
    font-family: initial;
    display: inline-block;
}
:disabled {
    pointer-events: none !important;
    cursor: default !important;
}
