@mixin  form {
     color: #fff;
     display: inline-block;
     text-align: center;
     font-size: 1.8rem;
     font-family: inherit;
}
.url-input-box {
     display: flex;
     justify-content: space-between;
     box-shadow: 0 1rem 1rem rgba(#000,.5);
     background:linear-gradient(to right bottom, #4e437675, #2b587650);
     padding: 2rem;
     &__input {
          @include form();
          width:calc(100% - 15rem - 2rem);
          border:  1px solid #fff;
          border-radius: 4rem;
          padding: .5em 1em;
          background: linear-gradient(to right, #4e4376, #2b5876);
          outline: none;
          box-shadow: 0 5px 5px rgba(#000,.1);
     }
}



