.content {
     text-align: center;
     &__user {
          color: #fff;
          font-size: 3rem;
          letter-spacing: .5rem;
          font-weight: 700;
          // margin: 2rem 0;
     }
     &__sub-title {
          color: rgb(0, 0, 0);
          font-size: 2rem;
          margin: 2rem;
          letter-spacing: .3rem;
          font-weight: 200;
     }
}