.logo {
  display: inline-block;
  &__container {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(85, 217, 233), rgb(86, 73, 252));
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 0.4rem;
  }
  img {
    width: 80%;
    margin: auto;
    display: inline-block;
    transform: translateZ(0.5rem);
  }
}
