.face_rec {
  margin-top: 2rem;
  padding: 0 !important;
  // max-width: 600px;
  // max-height: 500px;
  box-shadow: -4px 2rem 3rem rgba(0, 0, 0, 0.5);
  position: relative;
  height: 235px;
  overflow: hiddden;
  width: 320px;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  &_model_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#000, 0.4);
    z-index: 100;
    cursor: pointer;
  }
  &__img {
    width: 100%;
    display: block;
    height: 100%;
  }
  .box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }
}
