.face-rec{
     margin-top: 2rem;
     padding:0 !important;
     box-shadow: -4px 2rem 3rem rgba(0, 0, 0, 0.5);
     position: relative;
     &__img {
          width: 100%;
          display: block;
     }
     .box {
          position: absolute;
          box-shadow: 0 0 0 3px #149df2 inset;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          cursor: pointer;
     }
}
