.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translatex(-50%) translateY(-110%);
  width: 600px;
  height: 60px;
  background-color: rgba(#000000, 0.4);
  box-shadow: 0 5px 10px rgba(#000, 0.3);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  animation: showAlert 0.4s ease forwards;
  p {
    color: #fff;
    font-size: 2rem;
  }
}
@keyframes showAlert {
  to {
    transform: translatex(-50%) translateY(0%);
  }
}
